header{
    width:min(75rem, 100%);
    margin-inline: auto;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .logo,
.hamburger__menu{
    margin: 1.4rem;
}
.hamburger__menu .line{
    transition: 
    y 200ms ease-in 200ms,
    transform 200ms ease-in ,
    opacity 0ms 200ms
    ;
    transform-origin: center;
}
.hamburger__menu[aria-expanded="true"] .line{
    transition: 
    y 200ms ease-in,
    transform 200ms ease-in 200ms,
    opacity 0ms 200ms
    ;
    transform-origin: center;
}
.hamburger__menu[aria-expanded="true"]  .top{
    y: 45;
    transform:rotate(45deg);
}
.hamburger__menu[aria-expanded="true"]  .bottom{
    y: 45;
    transform:rotate(-45deg);
}
.hamburger__menu[aria-expanded="true"]  .middle{
    opacity: 0;
}

.nav__list{
    position: absolute;
    transform: translateY(-200px);
    width: 80%;
    left:10%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
    opacity: 0;
    transition: all 160ms ease-in;
    z-index: 99;
    background-color: white;
}
.nav__link{
    padding: 1rem;
    cursor: pointer;
    font-size: .8rem;
    font-family: 'Poppins';
    font-weight: 600;
}
.nav__link a{
    color:var(--color);
    text-decoration: none;
    opacity: .7;
    transition: opacity 50ms ease-in;
}
.nav__link a:hover{
    opacity: 1;
}

/* media */

@media (min-width:1024px){
    .hamburger__menu{
        display: none;
    }

    .nav__list{
        opacity: 1;
        transform: translateY(0px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        left: 0;
        box-shadow: none;
        margin: 1.4rem;
        position: inherit;
    }

    .nav__link{
        padding: 0;
    }
}